/* HTML for footer */
html {
  height: 100%;
  box-sizing: border-box;
}

/* Core styles */
.header {
    position: relative; /* needed for stacking */
    height: 200px;
    width: 100%;
}

.headline {
    position: relative; /* needed for stacking */
    width: 100%;
    height: 70px;
}

.message {
	position: relative; /* needed for stacking */
    width: 100%;
    height: 30px;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 0rem;
  min-height: 100%;
  background-color: #f2f2f2;
}

/* Content styles */
.headline h3 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
    /* background: yellow; */
}

.message p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
    /* background: yellow; */
}

.errormessage p {
    margin: 0;
    position: relative;
    text-align: center;
    /* background: yellow; */
}

.image {
    position: relative; /* needed for stacking */
    width: 100%;
    height: 300px;
}

.icons {
    position: absolute;
    top: 20%;
    left: 50%;
    display: block;
    transform: translate(-50%, -50%)
}

/* Type styles */

/** Ultra Light */
@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff");
}

/** Thin */
@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
}

/** Regular */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

/** Medium */
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
}

/** Semi Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
}

/** Bold */ 
@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}

* {
    font-family: "San Francisco"   
}

h1 { font-weight: 700; font-size: 3em; color: #515151; }
h2 { font-weight: 600; font-size: 3em; color: #515151; }
h3 { font-weight: 500; font-size: 2.9em; color: #515151; }
p { font-weight: 400; font-size: 1.2em; color: #515151;}
p.thin { font-weight: 400; font-size: .7em; color: #515151;}
p.ultralight { font-weight: 100; color: #515151;}
